@import url('https://fonts.googleapis.com/css?family=Handlee');

.login {
    background: url("./../res/img/fundoLogin.png");
}

.caixa {
    font-family: "Handlee", Arial;
    font-size: 15pt;
    background-color: rgba(250,250,250,0.9);
    position: relative;
    margin: 12% 20% 10% 20%;
    padding: 20pt;
    text-align: center;
}
