<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Acolhidos</title>
    <script src="src/js/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="src/bs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="src/jasny/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/style.css">
    <script src="src/bs/js/bootstrap.min.js"></script>
    <script src="src/jasny/js/jasny-bootstrap.min.js"></script>
</head>
<body>
    <header class="col-md-12 col-sm-12">
        <div class="text-left col-md-2 col-sm-2 home-button">
            <a href="index.html">
                <h3 class="hidden-sm hidden-xs">SOS Nova Vida</h3>
                <h3 class="visible-sm visible-xs">Nova Vida</h3>
            </a>
        </div>
        <div class="text-right col-md-10 col-sm-10 user-cont">
            <h3>{Simone}<span class="glyphicon glyphicon-user"></span></h3>
        </div>
    </header>
    <br class="clear">
    <div>
        <div class="menu col-md-2 col-sm-2">
            <nav class="navmenu navmenu-default navbar-default" id="menuLateral"></nav>
            <script src="src/js/menu.js"></script>
        </div>
        <section class="container col-md-10 col-sm-10">
            <h1>{Cadastro de acolhidos}</h1><hr><br>
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <label>{Nome completo}</label><br>
                        <input type="text" class="form-control"><br>
                        <div class="row">
                            <div class="col-md-6">
                                <label>{Data de nascimento}</label><br>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-md-offset-1 col-md-5">
                                <label>{Data de entrada}</label><br>
                                <input type="date" class="form-control"><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <label>{Local de nascimento}</label><br>
                                <input type="text" class="form-control"><br>
                            </div>
                            <div class="col-md-offset-1 col-md-2">
                                <label>{UF}</label><br>
                                <input type="text" class="form-control"><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-2">
                        <label>{Foto}</label><br>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 240px; height: 180px;"></div>
                            <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Selecione a imagem</span>
                                    <span class="fileinput-exists">Alterar</span>
                                    <input type="file" name="...">
                                </span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                            </div>
                        </div><br>
                    </div><br>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <label>Nome da mãe</label><br>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-offset-1 col-md-2">
                        <br><input type="checkbox">
                        <label>Responsável</label><br><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <label>Nome do pai</label><br>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-offset-1 col-md-2">
                        <br><input type="checkbox">
                        <label>Responsável</label><br><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label>Nome do responsável</label><br>
                        <input type="text" class="form-control"><br><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn-primary">Limpar</button> <button class="btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</body>
</html>