<h1>Consulta de Acolhidos</h1>
<hr>
<input type="text" class="form-control" ng-model='criterioDeBusca' placeholder="Pesquise um acolhido">
<hr>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlCriarLista" ng-click="criarLista( produtos )">Criar lista</button>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#mdlViewLista">Visualizar listas</button>
<hr>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Data de Entrada</th>
        <th>Tipo sanguíneo</th>
        <th></th>
    </tr>
    <tr ng-repeat='acolhido in acolhidos | filter: { nome: criterioDeBusca } '>
        <td>{{acolhido.nome}}</td>
        <td>{{acolhido.data_nasc | date:'dd/MM/yy'}}</td>
        <td>{{acolhido.data_entrada | date:'dd/MM/yy'}}</td> 
        <td>{{acolhido.nome_mae}}</td> <!-- Atualizar de acordo com a doc -->
        <td><a class="btn btn-info" href="#!/consulta/acolhido/{{acolhido.idacolhido}}" role="button">Editar</a></td>
    </tr>
</table>