<h1>Consulta de Doadores</h1>
<hr>
<input type="text" class="form-control" ng-model='criterioDeBusca' placeholder="Pesquise um doador">
<hr>
<table class="table table-striped">
    <tr>
        <th></th>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone Residencial</th>
        <th>Telefone Celular</th>
        <th>E-mail</th>
        <th></th>
    </tr>
    <tr ng-repeat='doador in doadores | filter: { nome: criterioDeBusca }'>
        <td><input type='checkbox' ng-model='doador.selecionado' /></td>
        <td>{{doador.id}}</td>
        <td>{{doador.nome}}</td>
        <td>{{doador.tel1}}</td>
        <td>{{doador.tel2}}</td>
        <td>{{doador.email}}</td>
        <td><a href='#!/consulta/doador/{{doador.id}}' class='btn btn-primary'>Editar</a></td>
    </tr>
</table>
<button class='btn btn-danger'>Excluir Selecionados</button>