<div>
    <h1>Controle de Estoque</h1>
        <hr>
        <table class="table table-striped">
            <tr>
                <th>Descrição</th>
                <th>Qtd</th>
                <th>Doador</th>
                <th>Preço de entrada</th>
                <th></th>
            </tr>
            <tr ng-repeat='produto in produtos'>
                <td>{{produto.descricao}}</td>
                <td>{{produto.qtd}}</td>
                <td>{{produto.doador.nome}}</td>
                <td>{{produto.doador.preco_entrada}}</td>
                <td><a href="#" class="btn btn-success" role="button">Adicionar</a></td>
            </tr>
        </table>
    </section>
</div>