<div>
    <h1>Controle de Estoque</h1>
        <hr>
        <input type="text" class="form-control" ng-model='criterioDeBusca' placeholder="Pesquise um produto">
        <hr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlCriarLista" ng-click="criarLista( produtos )">Criar lista</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mdlViewLista"  ng-click='carregarListas()'>Visualizar listas</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mdlCadastraProduto">Cadastrar produto</button>
        <a role="button" class="btn btn-warning pull-right" href="#!/movimentacao">Consultar movimentações</a>
        <hr>
        <table class="table table-striped table-bordered table-condensed tabela">
            <tr>
                <th class="col-sm-1"></th>
                <th class="col-md-6">Descrição</th>
                <th class="col-md-1"><a href='' ng-click='ordenarPor( qtd )'>Quantidade</a></th>
                <th class="col-md-2"></th>
            </tr>
            <tr ng-repeat='produto in produtos | filter: { descricao: criterioDeBusca } | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao'
            ng-class='{ success: produto.qtd > 5, danger: produto.qtd < 5 }'>
                <td><input type="checkbox" ng-model='produto.selecionado'></td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.qtd}}</td>
                <td class="td-botoes">
                    <button class="btn btn-danger btn-xs btn-estoque pull-left" ng-click='movimentaEstoque( produto, -1 )'>
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <input type="number" class="ipt-estoque" ng-model='produto.qtdAlterar' ng-init='produto.qtdAlterar=1' size="8" >
                    <button class="btn btn-success btn-xs btn-estoque pull-right" ng-click='movimentaEstoque( produto, 1 )' >
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </table>
    </section>
</div>

<!-- MODAL PARA CRIAR LISTAS -->
<div class="modal fade" id="mdlCriarLista" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title" ng-if="modoDeAbertura == 'criar'">Criar uma nova lista</h3>
                <h3 class="modal-title" ng-if="modoDeAbertura == 'editar'">Editar lista</h3>
            </div> 
            <!-- ///////////////////////////////////// -->
            <div class="modal-body">
                <form>
                    <label>Escolha um nome</label><br>
                    <input type="text" class="form-control" ng-model='lista.nome' maxlength="30"><br>

                    <label>Itens presentes na lista</label>
                    <table class="table table-bordered">
                        <tr>
                            <th class="col-md-9">Item</th>
                            <th class="col-md-2">Quantidade</th>
                            <th class="col-md-1"></th>
                        </tr>

                        <tr ng-repeat='produto in lista.produtos'>
                            <td>{{produto.descricao}}</td>
                            <td>{{produto.qtdAlterar}}</td>
                            <td class="text-center"><button type="button" class="close" style="float:none;" ng-click=' removeItem( produto )' ><span>&times;</span></button></td>
                        </tr>
                    </table>

                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#maisItens">Adicionar mais itens</button>
                    <div class="collapse" id="maisItens">
                        <br>
                        <fieldset>
                            <label>Digite mais um item</label><br>
                            <input type="text" class="form-control" ng-model='novoItem.descricao'><br>
    
                            <label>Digite a quantidade desse item</label><br>
                            <input type="number" class="form-control" ng-model='novoItem.qtdAlterar'><br>
    
                            <button type="button" class="btn btn-info" ng-click='adicionarItemNaLista( novoItem )' >Adicionar</button>
                        </fieldset>
                    </div>
                </form>
            </div> 
            <!-- ///////////////////////////////////// -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modoDeAbertura == 'criar'" ng-click='cancelarLista()'>Cancelar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#mdlViewLista" ng-if="modoDeAbertura == 'editar'">Voltar</button>                
                <button type="button" class="btn btn-success" ng-click=' salvarLista( lista ) '>Salvar</button>
            </div>
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
</div> <!-- modal fade -->


<!-- MODAL PARA VISUALIZAR LISTAS -->
<div class="modal fade" id="mdlViewLista" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title">Visualizar listas</h3>
            </div> 
            <!-- ///////////////////////////////////// -->
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th class="col-md-10">Nome da lista</th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1"></th>
                    </tr>
                    <tr ng-repeat='lista in listas | orderBy: lista.id'>
                        <td>{{lista.nome}}</td>
                        <td><button type="button" class="close" style="float:none;" data-dismiss="modal" data-toggle="modal" data-target="#mdlCriarLista" ng-click='obterLista( lista )'><span class="glyphicon glyphicon-pencil"></span></button></td>
                        <td><button type="button" class="close" style="float:none;" ng-click='apagarLista( lista )'><span>&times;</span></button></td>
                    </tr>
                </table>
            </div> 
            <!-- ///////////////////////////////////// -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
</div> <!-- modal fade -->


<!-- MODAL PARA CADASTRAR PRODUTO -->
<div class="modal fade" id="mdlCadastraProduto" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title">Cadastro de Produto</h4>
            </div> 
            <!-- ///////////////////////////////////// -->
            <div class="modal-body">
                <form>
                    <label>Descrição</label><br>
                    <input type="text" class="form-control" ng-model='novoProduto.descricao'><br>

                    <label>Quantidade inicial</label><br>
                    <input type="text" class="form-control" ng-model='novoProduto.qtd'><br>
                </form>
            </div> 
            <!-- ///////////////////////////////////// -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" ng-click='adicionaProduto( novoProduto )' data-dismiss='modal'>Salvar</button>
            </div>
        </div> <!-- modal content -->
    </div> <!-- modal dialog -->
</div> <!-- modal fade -->