<h1>Consulta de Acolhidos</h1>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Local de Nascimento</th>
        <th>Nome da Mãe</th>
        <th>Nome do Pai</th>
        <th></th>
    </tr>
    <tr ng-repeat='acolhido in acolhidos'>
        <td>{{acolhido.nome}}</td>
        <td>{{acolhido.datanasc | date:'dd/MM/yy'}}</td>
        <td>{{acolhido.cidadenatal}}</td>
        <td>{{acolhido.nomemae}}</td>
        <td>{{acolhido.nomepai}}</td>
        <td><a class="btn btn-info" href="#!/consulta/pia/acolhido/{{acolhido.idacolhido}}" role="button">Abrir PIA</a></td>
    </tr>
</table>