<h1>Detalhes de Doadores</h1>
<hr><br>

<div class="form-group">
    <label class="col-md-2 col-md-offset-1">Tipo de doador</label>
    <div class="col-md-2">
        <label ng-model='doador.tipo'></label>
        <select class='form-control' ng-model='doador.tipo'>
            <option value="pf" ng-show="doador.tipo == 'pf'">Pessoa Física</option>
            <option value="pj" ng-show="doador.tipo == 'pj'">Pessoa Jurídica</option>
        </select><br>
    </div>
</div>
<br><hr>

<form ng-show="doador.tipo != null" name="doadorForm" class="form-horizontal">
    <div class="row text-center">
        <div class="col-md-12">
            <label>Foto</label><br>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 240px; height: 180px;"></div>
                <div>
                    <span class="btn btn-default btn-block btn-file">
                        <span class="fileinput-new">Selecione a imagem</span>
                        <span class="fileinput-exists">Alterar</span>
                        <input type="file" name="...">
                    </span>
                    <a href="#" class="btn btn-default btn-block fileinput-exists" data-dismiss="fileinput">Remover</a>
                </div>
            </div><br>
        </div><br>
    </div><br>

    <div ng-show="doador.tipo == 'pj'" id="pessoaJuridica">
        <div class="form-group">
            <label class="col-md-2 col-md-offset-1">Razão Social</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model='doador.razao'><br>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 col-md-offset-1">CNPJ</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model='doador.cnpj'><br>
            </div>
        </div>
        <hr><br>
    </div>

    <div class="form-group">
        <label ng-show="doador.tipo != 'pj'" class="col-md-2 col-md-offset-1">Nome completo</label>
        <label ng-show="doador.tipo == 'pj'" class="col-md-2 col-md-offset-1">Nome do contato</label>
        <div class="col-md-8">
            <input type="text" class="form-control" ng-model='doador.nome'><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Data de entrada</label>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model='doador.data'><br>
        </div>

        <label class="col-md-1">E-mail</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model='doador.email'><br>
        </div>
    </div>
    <hr><br>
    <div class="form-group">    
        <label class="col-md-2 col-md-offset-1">Endereço</label>
        <div class="col-md-5">
            <input type="text" ng-model='doador.endereco' class="form-control"><br>
        </div>

        <label class="col-md-1">Número</label>
        <div class="col-md-2">
            <input type="text" ng-model='doador.numero' class="form-control"><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Complemento</label>
        <div class="col-md-2">
            <input type="text" ng-model='doador.complemento' class="form-control"><br>
        </div>

        <label class="col-md-1 col-md-offset-1">Bairro</label>
        <div class="col-md-4">
            <input type="text" ng-model='doador.bairro' class="form-control"><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Cidade</label>
        <div class="col-md-5">
            <input type="text" ng-model='doador.cidade' class="form-control"><br>
        </div>

        <label class="col-md-1">UF</label>
        <div class="col-md-2">
            <select class='form-control' ng-model='doador.uf' ng-options='uf.nome for uf in ufs'>
                <option value='' ng-disabled='true'>UF</option>
            </select><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Tel. residencial</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model='doador.telRes'><br>
        </div>

        <label class="col-md-1">Celular</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model='doador.telCel'><br>
        </div>

        <label class="col-md-1">Comercial</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model='doador.telCom'><br>
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Tipos de doação</label>
        <label class="col-md-1">Voluntário</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.voluntario'><br>
        </div>

        <label class="col-md-1">Financeiro</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.financeiro'><br>
        </div>

        <label class="col-md-1">Roupas</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.roupas'><br>
        </div>

        <label class="col-md-1">Alimentos</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.alimentos'><br>
        </div>
    </div>

    <div class="row">
        <!-- ????? -->
        <div class="col-md-offset-1 col-md-7 hidden">
            <label>Última doação</label><br>
            <input type="text" class="form-control" ng-model='doador.ultimaDoacao'>
        </div>
        <!-- ????? -->
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary">Limpar</button>
            <button class="btn btn-success" ng-click="adicionarDoador( doador )">Salvar</button>
        </div>
    </div>
</form>
{{doador}}