<h1>Detalhes de Doadores</h1>
<hr><br>

<form ng-show="doador.tipo != null" name="doadorForm" class="form-horizontal">
    <div class="form-group">
        <label ng-show="doador.tipo" class="col-md-2 col-md-offset-1">Nome completo</label>
        <div class="col-md-8">
            <input type="text" class="form-control" ng-model='doador.nome'><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Data de entrada</label>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model='doador.data'><br>
        </div>

        <label class="col-md-1">E-mail</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model='doador.email'><br>
        </div>
    </div>
    <hr><br>
    <div class="form-group">    
        <label class="col-md-2 col-md-offset-1">Endereço</label>
        <div class="col-md-5">
            <input type="text" ng-model='doador.endereco' class="form-control"><br>
        </div>

        <label class="col-md-1">Número</label>
        <div class="col-md-2">
            <input type="text" ng-model='doador.numero' class="form-control"><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Complemento</label>
        <div class="col-md-2">
            <input type="text" ng-model='doador.complemento' class="form-control"><br>
        </div>

        <label class="col-md-1 col-md-offset-1">Bairro</label>
        <div class="col-md-4">
            <input type="text" ng-model='doador.bairro' class="form-control"><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Cidade</label>
        <div class="col-md-5">
            <input type="text" ng-model='doador.cidade' class="form-control"><br>
        </div>

        <label class="col-md-1">UF</label>
        <div class="col-md-2">
            <select class='form-control' ng-model='doador.uf' ng-options='uf.nome for uf in ufs'>
                <option value='' ng-disabled='true'>UF</option>
            </select><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Tel. residencial</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model='doador.telRes'><br>
        </div>

        <label class="col-md-1">Celular</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model='doador.telCel'><br>
        </div>

        <label class="col-md-1">Comercial</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model='doador.telCom'><br>
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Tipos de doação</label>
        <label class="col-md-1">Voluntário</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.voluntario'><br>
        </div>

        <label class="col-md-1">Financeiro</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.financeiro'><br>
        </div>

        <label class="col-md-1">Roupas</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.roupas'><br>
        </div>

        <label class="col-md-1">Alimentos</label>
        <div class="col-md-1">
            <input type="checkbox" ng-model='doador.alimentos'><br>
        </div>
    </div>

    <div class="row">
        <!-- ????? -->
        <div class="col-md-offset-1 col-md-7 hidden">
            <label>Última doação</label><br>
            <input type="text" class="form-control" ng-model='doador.ultimaDoacao'>
        </div>
        <!-- ????? -->
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary">Limpar</button>
            <button class="btn btn-success" ng-click="adicionarDoador( doador )">Salvar</button>
        </div>
    </div>
</form>
{{doador}}