<h1>Cadastro de Acolhidos</h1>
<hr><br>
<form class="form-horizontal">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" target="_self" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">Dados pessoais</h4>
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <label>Foto</label><br>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 240px; height: 180px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-block btn-file">
                                            <span class="fileinput-new">Selecione a imagem</span>
                                            <span class="fileinput-exists">Alterar</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="btn btn-default btn-block fileinput-exists" data-dismiss="fileinput">Remover</a>
                                    </div>
                                </div><br>
                            </div><br>
                        </div>
                    </div>
                    
                    <label class="col-md-10 col-md-offset-1"><h3>Dados pessoais</h3><hr></label>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Nome completo</label>
                        <div class="col-md-8">
                            <input type="text" ng-model='acolhido.nome' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Data de nascimento</label>
                        <div class="col-md-3">
                            <input type="date" ng-model='acolhido.data_nasc' class="form-control">
                        </div>

                        <label class="col-md-2">Data de entrada</label>
                        <div class="col-md-3">
                            <input type="date" ng-model='acolhido.data_entrada' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Nome da mãe</label>
                        <div class="col-md-8">
                            <input type="text" ng-model='acolhido.nome_mae' class="form-control"><br>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Nome do pai</label>
                        <div class="col-md-8">
                            <input type="text" ng-model='acolhido.nome_pai' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">CPF</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.cpf' class="form-control">
                        </div>

                        <label class="col-md-1">RG</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.rg' class="form-control">
                        </div>
                        <!-- Órgão emissor -->
                        <label class="col-md-1 ">SSP</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.ssp' class="form-control">
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Renda mensal</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">R$</span><input type="text" ng-model='acolhido.renda' class="form-control">
                            </div>
                        </div>

                        <label class="col-md-1 col-md-offset-1">Sexo</label>
                        <div class="col-md-3"> <!-- colocar input group -->
                            <input type="radio">&nbsp;
                            <label> Feminino</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio">&nbsp;
                            <label> Masculino</label>
                        </div>
                    </div>

                    <label class="col-md-10 col-md-offset-1"><h3>Ficha Médica</h3><hr></label>
                    <div class='form-group'>
                        <label class='col-md-2 col-md-offset-1'>Alergias</label>
                        <div class='col-md-8'>
                            <textarea ng-model='acolhido.alergias' class='form-control'></textarea>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-2 col-md-offset-1'>Tipo Sanguíneo</label>
                        <div class='col-md-2'>
                            <select class='form-control' ng-model='acolhido.tipoSanguineo'>
                                <option value='desconhecido'>Desconhecido</option>
                                <option value='A-'>A-</option>
                                <option value='A+'>A+</option>
                                <option value='B-'>B-</option>
                                <option value='B-'>B+</option>
                                <option value='AB-'>AB-</option>
                                <option value='AB+'>AB+</option>
                                <option value='O-'>O-</option>
                                <option value='O+'>O+</option>
                            </select><br>
                        </div>

                        <!-- colocar input group -->
                        <label class='col-md-2 text-right'>Já fez aborto?</label>
                        <div class="col-md-1">
                            <input type="radio">&nbsp;
                            <label> Sim</label>
                        </div>
                        <div class="col-md-1">
                            <input type="radio">&nbsp;
                            <label> Não</label>
                        </div>

                        <!--<div class='form-group' ng-if='responsavel.parentesco === "mae"'>
                            <label class='col-md-2'>Já sofreu aborto?</label>
                            <div class="col-md-1">
                                <input type="checkbox" ng-model='responsavel.aborto'><br>
                            </div>
                            <label class='col-md-2'>Quantos?</label>
                            <div class='col-md-1'>
                                <input type='text' ng-model'responsavel.qtdAbortos' class='form-control'><br>
                            </div>
                        </div> -->

                        
                        <label class='col-md-1 text-right'>Quantos?</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" ng-model="acolhido.qtd_aborto">
                        </div>
                    </div>

                    <label class="col-md-10 col-md-offset-1"><h3>Vestimentas</h3><hr></label>
                    <div class='form-group'>
                        <label class='col-md-1 col-md-offset-1'>Camiseta</label>
                        <div class='col-md-1'>
                            <input type='text' ng-model='acolhido.camiseta' class='form-control'>
                        </div>
                        <label class='col-md-1'>Calça</label>
                        <div class='col-md-1'>
                            <input type='text' ng-model='acolhido.calca' class='form-control'>
                        </div>
                        <label class='col-md-2'>Roupa íntima</label>
                        <div class='col-md-1'>
                            <input type='text' ng-model='acolhido.intima' class='form-control'>
                        </div>
                        <label class='col-md-1'>Calçado</label>
                        <div class='col-md-1'>
                            <input type='text' ng-model='acolhido.sapato' class='form-control'>
                        </div>
                    </div>

                    <hr>
                    <label class="col-md-10 col-md-offset-1"><h3>Residência atual</h3><hr></label>
                    <div class="form-group">
                        
                        <label class="col-md-2 col-md-offset-1">Endereço</label>
                        <div class="col-md-5">
                            <input type="text" ng-model='acolhido.endereco' class="form-control"><br>
                        </div>

                        <label class="col-md-1">Número</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.numero' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Complemento</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.compl' class="form-control"><br>
                        </div>

                        <label class="col-md-1 col-md-offset-1">Bairro</label>
                        <div class="col-md-4">
                            <input type="text" ng-model='acolhido.bairro' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Cidade</label>
                        <div class="col-md-5">
                            <input type="text" ng-model='acolhido.cidade' class="form-control"><br>
                        </div>

                        <label class="col-md-1">UF</label>
                        <div class="col-md-2">
                            <select class='form-control' ng-model='acolhido.uf' ng-options='uf.nome for uf in ufs'>
                                <option value='' ng-disabled='true'>UF</option>
                            </select><br>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">CEP</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" ng-model='acolhido.cep' class="form-control">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-input-group" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <label class="col-md-10 col-md-offset-1"><h3>Local de trabalho</h3><hr></label>
                    
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Nome do local</label>
                        <div class="col-md-4">
                            <input type="text" ng-model='acolhido.trabalho.empresa' class="form-control"><br>
                        </div>

                        <label class="col-md-1">Função</label>
                        <div class="col-md-3">
                            <input type="text" ng-model='acolhido.trabalho.cargo' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">CEP</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" ng-model='acolhido.trabalho.cep' class="form-control">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-input-group" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <label class="col-md-1 col-md-offset-1">Salário</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">R$</span><input type="text" ng-model='acolhido.trabalho.salario' class="form-control">
                            </div>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Endereço</label>
                        <div class="col-md-5">
                            <input type="text" ng-model='acolhido.trabalho.endereco' class="form-control"><br>
                        </div>

                        <label class="col-md-1">Número</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.trabalho.numero' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Complemento</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.trabalho.compl' class="form-control"><br>
                        </div>

                        <label class="col-md-1 col-md-offset-1">Bairro</label>
                        <div class="col-md-4">
                            <input type="text" ng-model='acolhido.trabalho.bairro' class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Cidade</label>
                        <div class="col-md-5">
                            <input type="text" ng-model='acolhido.trabalho.cidade' class="form-control"><br>
                        </div>

                        <label class="col-md-1">UF</label>
                        <div class="col-md-2">
                            <select class='form-control' ng-model='acolhido.trabalho.uf' ng-options='uf.nome for uf in ufs'>
                                <option value='' ng-disabled='true'>UF</option>
                            </select><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="true" aria-controls="collapseTwo">
                    <h4 class="panel-title">Dados dos dependentes</h4>
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul class="nav nav-tabs" id="tabs-resp">
                        <li role="presentation" class="active"><a href="#resp1" target="_self">Dependente 1</a></li>
                        <li role="presentation"><a>Dependente 2</a></li>
                        <li role="presentation"><a role="button" href="#" target="_self" class="add-resp"><span class="glyphicon glyphicon-plus"></span></a></li>
                    </ul>
                    <div id="resp1">
                        <br><br>
                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <label>Foto</label><br>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 240px; height: 180px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-block btn-file">
                                            <span class="fileinput-new">Selecione a imagem</span>
                                            <span class="fileinput-exists">Alterar</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="btn btn-default btn-block fileinput-exists" data-dismiss="fileinput">Remover</a>
                                    </div>
                                </div><br>
                            </div><br>
                        </div><br>
        
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-1">Nome completo</label>
                            <div class="col-md-8">
                                <input type="text" ng-model='acolhido.dependente.nome' class="form-control"><br>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-1">Data de nascimento</label>
                            <div class="col-md-3">
                                <input type="date" ng-model='acolhido.dependente.dataNasc' class="form-control">
                            </div>
    
                            <label class="col-md-2">Grau de parentesco</label>
                            <div class="col-md-3">
                                <select class='form-control' ng-model='acolhido.dependente.parentesco'><br>
                                    <option value='mae'>MÃE</option>
                                    <option value='pai'>PAI</option>
                                    <option value='filho'>FILHO(A)</option>
                                    <option value='sobrinho'>SOBRINHO(A)</option>
                                    <option value='' ng-disabled='true'>NENHUM</option>
                                </select><br>
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-1">Cidade natal</label>
                            <div class="col-md-5">
                                <input type="text" ng-model='acolhido.dependente.cidadeNatal' class="form-control"><br>
                            </div>
    
                            <label class="col-md-1">UF</label>
                            <div class="col-md-2">
                                <select class='form-control' ng-model='acolhido.dependente.uf' ng-options='uf.nome for uf in ufs'>
                                    <option value='' ng-disabled='true'>UF</option>
                                </select><br>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-1">Nome da mãe</label>
                            <div class="col-md-8">
                                <input type="text" ng-model='acolhido.dependente.nomeMae' class="form-control"><br>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-1">Nome do pai</label>
                            <div class="col-md-8">
                                <input type="text" ng-model='acolhido.dependente.nomePai' class="form-control"><br>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-1">CPF</label>
                            <div class="col-md-2">
                                <input type="text" ng-model='acolhido.dependente.cpf' class="form-control">
                            </div>
    
                            <label class="col-md-1">RG</label>
                            <div class="col-md-2">
                                <input type="text" ng-model='acolhido.dependente.rg' class="form-control">
                            </div>
                            <!-- Órgão emissor -->
                            <label class="col-md-1 ">SSP</label>
                            <div class="col-md-2">
                                <input type="text" ng-model='acolhido.dependente.ssp' class="form-control"><br>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-1">Sexo</label>
                            <div class="col-md-3">
                                <input type="radio">&nbsp;
                                <label> Feminino</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio">&nbsp;
                                <label> Masculino</label>
                            </div>
                        </div>
        
                        <label class="col-md-10 col-md-offset-1"><h3>Ficha Médica</h3><hr></label>
                        <div class='form-group'>
                            <label class='col-md-2 col-md-offset-1'>Alergias</label>
                            <div class='col-md-8'>
                                <textarea ng-model='acolhido.dependente.alergias' class='form-control'></textarea>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-md-2 col-md-offset-1'>Tipo Sanguíneo</label>
                            <div class='col-md-2'>
                                <select class='form-control' ng-model='acolhido.dependente.tipoSanguineo'>
                                    <option value='desconhecido'>Desconhecido</option>
                                    <option value='A-'>A-</option>
                                    <option value='A+'>A+</option>
                                    <option value='B-'>B-</option>
                                    <option value='B-'>B+</option>
                                    <option value='AB-'>AB-</option>
                                    <option value='AB+'>AB+</option>
                                    <option value='O-'>O-</option>
                                    <option value='O+'>O+</option>
                                </select><br>
                            </div>

                            <label class='col-md-2 text-right'>Já fez aborto?</label>
                            <div class="col-md-1">
                                <input type="radio">&nbsp;
                                <label> Sim</label>
                            </div>
                            <div class="col-md-1">
                                <input type="radio">&nbsp;
                                <label> Não</label>
                            </div>
                            
                            <label class='col-md-1 text-right'>Quantos?</label>
                            <div class="col-md-1">
                                <input type="text" class="form-control" ng-model="acolhido.dependente.qtdAborto">
                            </div>
                        </div>

                        <label class="col-md-10 col-md-offset-1"><h3>Vestimentas</h3><hr></label>
                        <div class='form-group'>
                            <label class='col-md-1 col-md-offset-1'>Camiseta</label>
                            <div class='col-md-1'>
                                <input type='text' ng-model='acolhido.dependente.tamCamiseta' class='form-control'>
                            </div>
                            <label class='col-md-1'>Calça</label>
                            <div class='col-md-1'>
                                <input type='text' ng-model='acolhido.dependente.tamCalca' class='form-control'>
                            </div>
                            <label class='col-md-2'>Roupa íntima</label>
                            <div class='col-md-1'>
                                <input type='text' ng-model='acolhido.dependente.tamIntima' class='form-control'>
                            </div>
                            <label class='col-md-1'>Calçado</label>
                            <div class='col-md-1'>
                                <input type='text' ng-model='acolhido.dependente.tamSapato' class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" target="_self" aria-expanded="true" aria-controls="collapseThree">
                    <h4 class="panel-title">Dados jurídicos</h4>
                </a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <br>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Nº do processo</label>
                        <div class="col-md-3">
                            <input type="text" ng-model='acolhido.processo' class="form-control"><br>
                        </div>

                        <label class="col-md-1">Comarca</label>
                        <div class="col-md-4">
                            <input type="text" ng-model='acolhido.comarca' class="form-control"><br>
                        </div>
                    </div>
                    <!-- 15ª vara de infância de Suzano, por exemplo -->
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1">Nº da vara</label>
                        <div class="col-md-2">
                            <input type="text" ng-model='acolhido.numVara' class="form-control"><br>
                        </div>

                        <label class="col-md-1">Vara</label>
                        <div class="col-md-5">
                            <input type="text" ng-model='acolhido.vara' class="form-control"><br>
                        </div>                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-7 text-right">
            <button class="btn btn-primary" ng-click="alterarAcolhido(acolhido)">Voltar</button>
            <button class="btn btn-success" ng-click='cadastrarAcolhido(acolhido)'>Salvar</button>
        </div>
    </div>
</form>