<h1>Cadastro de Doação</h1>
<hr>
<br>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Descrição</label>
        <div class="col-md-7">
            <input type="text" class="form-control" ng-model='novoProduto.descricao'><br>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Tipo de doação</label>
        <div class="col-md-2">
			<select class="form-control">
				<option>DINHEIRO</option>
				<option>ALIMENTO</option>
				<option>ROUPA</option>
			</select>
        </div>
        
		<label class="col-md-2 text-right">Doador</label>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" ng-model='novoProduto.descricao'>
                <div class="input-group-btn">
                    <button class="btn btn-default btn-input-group" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
	<br>
	<div class="form-group">
        <label class="col-md-2 col-md-offset-1 disabled">Quantidade</label>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model='novoProduto.descricao'><br>
        </div>
        
		<label class="col-md-1 col-md-offset-1">Valor</label>
        <div class="col-md-3">
			<div class="input-group">
				<span class="input-group-addon">R$</span><input type="text" ng-model='acolhido.renda' class="form-control">
			</div>
		</div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-10 text-right">
            <button class="btn btn-primary" type='reset'>Limpar</button>
            <button class="btn btn-success" ng-click='cadastrarDoacao(doacao)'>Salvar</button>
        </div>
    </div>
</form>