<h1>Movimentações no Estoque</h1>
<hr>
<!-- <input type="text" class="form-control" placeholder="Pesquise uma movimentação" ng-model='criterioDeBusca'> -->

<button class="btn btn-warning" data-toggle="collapse" data-target="#buscaPersonalizada">Busca personalizada</button>
<div class="collapse" id="buscaPersonalizada">
    <br>
    <div class="form-group">
        <label>Busque pelo nome</label><br>
        <input type="text" ng-model='buscaNome' class="form-control"><br>
    </div>
    <div class="form-group">
        <label>Tipo</label><br>
        <input type="checkbox" ng-model='buscaEntrada' value='ENTRADA'> Entrada<br><br>
        <input type="checkbox" ng-model='buscaSaida' value='SAIDA'> Saída<br>
    </div>
    <div class="form-group">
        <label>De </label>
        <input type="text" class="form-control" ng-model='buscaDataInicial' ui-date placeholder="Data inicial">
        <label>Até </label>
        <input type="text" class="form-control" ng-model='buscaDataFinal' ui-date placeholder="Data final">
    </div>
</div>

{{buscaDataInicial}}
{{buscaDataFinal}}

<hr>
<table class="table table-bordered">
    <tr>
        <th class="col-md-2">Tipo</th>
        <th class="col-md-6">Descrição</th>
        <th class="col-md-2">Quantidade</th>
        <th class="col-md-2">Data</th>
    </tr>
    
    <tr ng-class='{ success: movimentacao.tipo=="ENTRADA", danger: movimentacao.tipo=="SAIDA" }'
        ng-repeat='movimentacao in movimentacoes | 
                    filter: { 
                        descricao: buscaNome, 
                        tipo: buscaEntrada && buscaSaida ? "" : buscaEntrada ? "ENTRADA" : buscaSaida ? "SAIDA" : ""
                    } | 
                    orderBy: "descricao"' >
        <td>{{movimentacao.tipo}}</td>
        <td>{{movimentacao.descricao}}</td>
        <td>{{movimentacao.qtd}}</td>
        <td>{{movimentacao.data}}</td>
    </tr>
</table>