<h1>Eventos no Estoque</h1>
<hr>
<div class="row col-md-12">
    <div class="col-md-5">
        <table class="table table-bordered">
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
            <tr>
                <td>A</td>
                <td>C</td>
                <td>B</td>
                <td>D</td>
            </tr>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table table-bordered">
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
            <tr>
                <td>A</td>
                <td>C</td>
                <td>B</td>
                <td>D</td>
            </tr>
        </table>
    </div>
</div>