<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulário PIA</title>
    <script src="../static/src/js/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/src/bs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/src/jasny/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/src/css/style.css">
    <script src="../static/src/bs/js/bootstrap.min.js"></script>
    <script src="../static/src/jasny/js/jasny-bootstrap.min.js"></script>
    <script src="../static/src/js/main.js"></script>
</head>
<body>
    <header class="col-md-12 col-sm-12">
        <div class="text-left col-md-2 col-sm-2 home-button">
            <a href="index.html">
                <h3 class="hidden-sm hidden-xs">SOS Nova Vida</h3>
                <h3 class="visible-sm visible-xs">Nova Vida</h3>
            </a>
        </div>
        <div class="text-right col-md-10 col-sm-10 user-cont">
            <h3>Simone Buda <span class="glyphicon glyphicon-user"></span></h3>
        </div>
    </header>
    <div class="menu col-md-2 col-sm-2">
        <nav class="navmenu navmenu-default navbar-default" id="menuLateral"></nav>
        <script src="../static/src/js/menu.js"></script>
    </div>
    <section class="container col-md-10 col-sm-10">
        <h1>PIA</h1><hr>
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <tr>
                        <th>Nome</th>
                        <td>{{ acolhido.nome }}</td>
                    </tr>
                    <tr>
                        <th>Local de nascimento</th>
                        <td>{{ acolhido.local_nasc }}</td>
                    </tr>
                    <tr>
                        <th>Nome da mãe</th>
                        <td>{{ acolhido.nome_mae }}</td>
                    </tr>
                    <tr>
                        <th>Nome do pai</th>
                        <td>{{ acolhido.nome_pai }}</td>
                    </tr>
                    <tr>
                        <th>Nome do responsável</th>
                        <td>{{ acolhido.nome_resp }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <img class="img-thumbnail text-right" src="{{ acolhido.imagem.url }}" style="width: 20%; height: 20%;">
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <br><label>Relato do mês</label><br>
                    <textarea rows=4 class="form-control" id="txt_pia"></textarea><br><br>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" onclick="clean()">Limpar</button> 
                <button class="btn btn-success" type="submit">Salvar</button>
            </div>
        </div>
    </section>
</body>
</html>