<h1>Movimentações no Estoque</h1>
<hr>
<input type="text" class="form-control" placeholder="Pesquise uma movimentação">
<hr>
<table class="table table-bordered">
    <tr>
        <th class="col-md-2">Tipo</th>
        <th class="col-md-6">Descrição</th>
        <th class="col-md-2">Quantidade</th>
        <th class="col-md-2">Data</th>
    </tr>
    <tr class="success">
        <td>ENTRADA</td>
        <td>Arroz</td>
        <td>20</td>
        <td>29/10/2017 17:43</td>
    </tr>
    <tr class="danger">
        <td>SAÍDA</td>
        <td>Arroz</td>
        <td>20</td>
        <td>29/10/2017 17:43</td>
    </tr>
</table>