<h1>Cadastro de Acolhidos</h1>
<hr><br>
<form>
    <div class="row">
        <div class="col-md-8">
            <label>Nome completo</label><br>
            <input type="text" ng-model='acolhido.nome' class="form-control"><br>
            <div class="row">
                <div class="col-md-6">
                    <label>Data de nascimento</label><br>
                    <input type="date" ng-model='acolhido.dtNasc' class="form-control">
                </div>
                <div class="col-md-offset-1 col-md-5">
                    <label>Data de entrada</label><br>
                    <input type="date" ng-model='acolhido.dtEntr' class="form-control"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label>Cidade Natal</label><br>
                    <input type="text" ng-model='acolhido.cidNatal' class="form-control"><br>
                </div>
                <div class="col-md-offset-1 col-md-2">
                    <label>UF</label><br>
                    <select class='form-control' ng-model='acolhido.uf' ng-options='uf.nome for uf in ufs'>
                        <option value='' ng-disabled='true'>UF</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <label>Foto</label><br>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 240px; height: 180px;"></div>
                <div>
                    <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Selecione a imagem</span>
                    <span class="fileinput-exists">Alterar</span>
                    <input type="file" name="...">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                </div>
            </div><br>
        </div><br>
    </div>

    <div class="row">
        <div class="col-md-9">
            <label>Nome da mãe</label><br>
            <input type="text" ng-model='acolhido.nomeMae' class="form-control">
        </div>
        <div class="col-md-offset-1 col-md-2">
            <br><input type="checkbox" ng-model='acolhido.isMaeResp'>
            <label>Responsável</label><br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <label>Nome do pai</label><br>
            <input type="text" ng-model='acolhido.nomePai' class="form-control">
        </div>
        <div class="col-md-offset-1 col-md-2">
            <br><input type="checkbox" ng-model='acolhido.isPaiResp'>
            <label>Responsável</label><br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Nome do responsável</label><br>
            <input type="text" ng-model='acolhido.outroResp' class="form-control"><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn-primary">Limpar</button>
            <button class="btn-success">Salvar</button>
        </div>
    </div>
    {{acolhido}}
</form>