<h1>PIA</h1>
<hr>
<h3>Dados pessoais</h3><br>
<div class="row">
    <div class="col-md-7 col-md-offset-1">
        <table class="table">
            <tr>
                <th>Nome</th>
                <td>{{ acolhido.nome }}</td>
            </tr>
            <tr>
                <th>Local de nascimento</th>
                <td>{{ acolhido.local_nasc }}</td>
            </tr>
            <tr>
                <th>Nome da mãe</th>
                <td>{{ acolhido.nome_mae }}</td>
            </tr>
            <tr>
                <th>Nome do pai</th>
                <td>{{ acolhido.nome_pai }}</td>
            </tr>
            <tr>
                <th>Nome do responsável</th>
                <td>{{ acolhido.nome_resp }}</td>
            </tr>
        </table>
    </div>
    <div>
        <img class="img-thumbnail text-right" src="{{ acolhido.imagem }}" style="width: 20%; height: 20%;">
    </div>
</div>
<hr><br>
<h2>1.1. Dados e necessidades da (o) criança/adolescente</h2><br>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Documentação apresentada</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                </tr>
                <tr>
                    <td>Cédula de identidade</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Certidão de nascimento</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Carteira de identidade CPF</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Título de Eleitor</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Carteira de Trabalho</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Certificado de Reservista</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Histórico Escolar</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Declaração Escolar</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="4"><input type="text" class="form-control"></td>
                    <!--<td colspan="3"><label>Outros: </label> <input type="text" class="form-control"></td>-->
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Atividades que realizava</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                </tr>
                <tr>
                    <td>Escolarização</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Curso Profissionalizante</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atividades artísticas</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atividades culturais</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atividades esportivas</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="4"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Necessidade de atendimento</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                    <th class="text-center">Inserir</th>
                    <th class="text-center">Continuar</th>
                </tr>
                <tr>
                    <td>Enfermagem</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Nutrição</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Odontologista</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Oftalmologista</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Psicologia</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Psiquiatria</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Serviço Social</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Médico</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Fisioterapia</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Ter. Ocupacional</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Educação</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="4"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Avaliação/Enc. Trat. Externos</th>
                    <th class="text-center">Inserir</th>
                    <th class="text-center">Continuar</th>
                </tr>
                <tr>
                    <td>Médico</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Nutrição</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Odontologia</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Psicologia</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Psiquiatria</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Serviço Social</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Fisioterapia</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Ter. Ocupacional</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Educação</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="2"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Rede de Apoio</th>
                    <th class="text-center">Contato</th>
                    <th class="text-center">Encaminhar</th>
                </tr>
                <tr>
                    <td>Acolhimento Institucional/Abrigo</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Associação de Moradores</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Conselho Tutelar</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Equipamentos - CRAS/CREAS</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Família extensa</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Pais/responsáveis</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Programas de Apoio Comunitário</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Programas de Proteção</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Vara da Infância e da Juventude</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="2"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Religiosidade</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                </tr>
                <tr>
                    <td>Participava de atividade religiosa</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Quais?</td>
                    <td colspan="2"><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Deseja assistência religiosa?</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Denominação Religiosa:</td>
                    <td colspan="2"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
    </div>
    <h2>1.2. Participação em atividades socioeducativas</h2><br>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Educação e Cidadania</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                    <th class="text-center">Inserir</th>
                </tr>
                <tr>
                    <td>Orientação para a importância do processo de escolarização</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Educação e Saúde</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                    <th class="text-center">Inserir</th>
                </tr>
                <tr>
                    <td>Alimentação</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Cuidado e Higiene Pessoal</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Saúde Bucal</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
            </table>
        </div>
    </div>
    <h2>1.3. Família</h2><br>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Atendimento realizado</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                </tr>
                <tr>
                    <td>Acolhimento</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Esclarecimento sobre fluxo do processo / JIJ</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Orientação sobre Normas do Hospital</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Autorizações fornecidas aos Pais/Responsáveis</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Auxílio Transporte</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Auxílio Refeição</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Alojamento</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Orientação realizada</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                    <th class="text-center">Encaminhar</th>
                </tr>
                <tr>
                    <td>Direitos Legais</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Direitos Sociais</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Direito Previdenciário</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Planejamento Familiar</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Planejamento Orçamentário</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Educação Formal</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Educação Profissional</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="2"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Rede de Apoio - Encaminhar</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                </tr>
                <tr>
                    <td>Associação de Moradores</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atendimento Jurídico (DP, OS, Centro Defesa)</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atendimento Médico/Prog. Saúde da Família</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atendimento Saúde Mental - Transtorno (CAPS-CAPSi)</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atendimento Saúde Mental - Drogas (CAPSAD)</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Conselho Tutelar</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Programa de Proteção</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="2"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Rede de Apoio - Encaminhar</th>
                    <th class="text-center">Sim</th>
                    <th class="text-center">Não</th>
                </tr>
                <tr>
                    <td>Equipamentos (CRAS/CREAS)</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Programas Sociais/Promoção à Família</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Atendimento Social</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Bolsa Família</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Cesta Básica</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Geração Trabalho e Renda</td>
                    <td class="text-center"><input type="radio"></td>
                    <td class="text-center"><input type="radio"></td>
                </tr>
                <tr>
                    <td>Outros:</td>
                    <td colspan="2"><input type="text" class="form-control"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Dinâmica de visita do familiar ao paciente:</label>
        <div class="col-md-8">
            <textarea rows=4 class="form-control" id="txt_pia"></textarea>
        </div>                        
    </div><br>

    <h2>1.4. Autoavaliação da criança/adolescente</h2><br>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Nome</label>
        <div class="col-md-8">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Nascimento</label>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>

        <label class="col-md-1 col-md-offset-1">Idade</label>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>                      
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Planos para a minha vida</label>
        <div class="col-md-8">
            <textarea rows=4 class="form-control" placeholder="O que quero ser/O que quero fazer"></textarea><br><br>
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Meus pontos fortes</label>
        <div class="col-md-8">
            <textarea rows=4 class="form-control" placeholder="O que gosto em mim - quais são as minhas qualidades"></textarea><br><br>
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Minhas necessidades - o que preciso</label>
        <div class="col-md-8">
            <textarea rows=4 class="form-control" placeholder="Para ter meu desenvolvimento pessoal"></textarea><br><br>
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Minhas habilidades</label>
        <div class="col-md-8">
            <textarea rows=4 class="form-control" placeholder="Em que acho que sou bom - o que faço bem"></textarea><br><br>
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Meus objetivos</label>
        <div class="col-md-8">
            <textarea rows=4 class="form-control" placeholder="O que quero conseguir com o meu projeto de vida"></textarea><br><br>
        </div>                        
    </div>

    <h2>3.1 Construção do PTS (Equipe Técnica)</h2><br>
    <div class="form-group text-center">
        <label class="col-md-2">Data de início:</label>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>
    </div>
    <p class="well text-justify texto-pia">
        Para o diagnóstico situacional é importante identificar as necessidades, demandas, vulnerabilidades e potencialidades mais relevantes de quem busca
        ajuda. Valorizar as potencialidades permite a ativação de recursos terapêuticos. Além das dimensões subjetivas, também é importante reconhecer o
        contexto social e histórico em que se inserem a pessoa, a família, o grupo ou o coletivo a o qual está dirigido o PTS. Também é importante identificar as
        intervenções já realizadas e seus resultados, bem como realizar a avaliação das vulnerabilidades compostas pelos fatores de risco e fatores de proteção
        individuais, familiares, grupais e coletivos. As potencialidades podem ser incluídas entre os fatores de proteção.
    </p>
    <div class="form-group">
        <div class="col-md-12">
            <textarea rows=4 class="form-control"></textarea>
        </div>                        
    </div>
    <br>
    <h2>3.2. Metas (Planos de ação)</h2><br>
    <p class="well text-justify texto-pia">
        A definição de objetivos e metas envolve definir as questões sobre as quais se pretende intervir, tais como conscientizar o paciente sobre a doença e
        a adesão ao tratamento pós-alta. As metas devem ser norteadas pela inserção social, a ampliação de autonomia e a ativação da rede de suporte social
        da pessoa, família, grupo ou coletivo. A operacionalização deste processo se dá por meio de uma comunicação sensível e das combinações entre o
        técnico de referência e a equipe por um lado, e da equipe ou do próprio técnico de referência com a pessoa, a família, o grupo ou o coletivo por outro.
        Neste momento do PTS também é importante fazer projeções de curto, médio e longo prazo.
    </p>
    <div class="form-group">
        <div class="col-md-12">
            <textarea rows=4 class="form-control"></textarea>
        </div>                        
    </div>
    <br>
    <h2>3.3. Divisão de responsabilidades</h2><br>
    <p class="well text-justify texto-pia">
        A divisão de tarefas e responsabilidade desenvolve a definição clara e a atuação do técnico de referência por meio do esclarecimento do que vai ser feito,
        porque em que prazos. O dispositivo do técnico de referência é fundamental não organização do cuidado de casos complexos em UTI – Unidade Terapia
        Intensiva. Esta posição geralmente é assumida pelo trabalhador que estabelece maior vínculo com a pessoa em sofrimento. O técnico de referência tem a
        responsabilidade de coordenar o PTS, suas tarefas, metas e prazos por meio do acompanhamento, articulação, negociação pactuada e reavaliação.
    </p>
    <div class="form-group">
        <div class="col-md-12">
            <textarea rows=4 class="form-control"></textarea>
        </div>                        
    </div>
    <br>
    <h2>4. Rediscussão</h2><br>
    <p class="well text-justify texto-pia">
        A rediscussão do PTS conduzida pela equipe técnica deve ser sistemática, realizada em diversos momentos, ou seja, entre a pessoa cuidada, seus
        familiares e o técnico de referência; reuniões de equipe e reuniões ampliadas com outros serviços e instituições implicados no PTS.
    </p>
    <div class="form-group">
        <div class="col-md-12">
            <textarea rows=4 class="form-control"></textarea>
        </div>                        
    </div>
    <br>
    <h2>5. Atualizações Anotadas</h2><br>
    <p class="well text-justify texto-pia">
        Toda atualização deve ser registrada no PTS.
    </p>
    <div class="form-group">
        <div class="col-md-12">
            <textarea rows=4 class="form-control"></textarea>
        </div>                        
    </div>
    <br>
    <h2>6. Reavaliação</h2><br>
    <p class="well text-justify texto-pia">
        A reavaliação do PTS será conduzida pelo técnico de referência de forma sistemática, agendada coma equipe e a pessoa cuidada. A revisão de prazos, expectativas, tarefas objetivos, metas e resultados introduzir e redirecionar as intervenções conforme as necessidades (MÂNGIA;BARROS,2009). 
        A e avaliação deve ser feita em diversos momentos que incluem encontros entre a pessoa cuidada, seus familiares reuniões ampliadas com outros serviços e instituições implicados no PTS.
        <br><br>
        a) A escolha dos casos para reuniões de PTS<br>
        b) As reuniões para discussão de PTS<br>
        c) O tempo de um PTS<br>
        d) PTS e Mudança e<br>
        e) Diferenças, conflitos e contradições.
    </p>
    <hr>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Nome do(a) criança/adolescente:</label>
        <div class="col-md-8">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Técnicos de referência</label>
        <div class="col-md-8">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Data da elaboração do PIA:</label>
        <div class="col-md-4">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <hr>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Nome do(a) genitor(a):</label>
        <div class="col-md-8">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Técnicos de referência</label>
        <div class="col-md-8">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">Data da elaboração do PIA:</label>
        <div class="col-md-4">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <hr>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">1. Situação Documental</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">2. Situação Processual</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">3. Situação de Saúde</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">4. Educação</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">5. Profissionalização</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">6. Atividades internas (eventos, visitas, comemorações)</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">7. Fortalecimento da convivência familiar e comunitária</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">8. Espiritualidade</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">9. Atividades externas</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">10. Preparação para alta</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <div class="form-group">
        <label class="col-md-3 col-md-offset-1">11. Preparação para demandas jurídicas</label>
        <div class="col-md-7">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <br>
    <div class="form-group">
        <label class="col-md-2 col-md-offset-1">DATA</label>
        <div class="col-md-4">
            <input type="text" class="form-control">
        </div>                        
    </div>
    <br>
    <h2>Assinaturas de compromisso</h2>
    <h3>Responsável legal ou pais: </h3><br> _________________________________________<br><br>
    <h3>Técnicos de referência da SOS Nova Vida: </h3><br> _________________________________________<br>
</form>
<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-primary" onclick="clean()">Limpar</button>
        <button class="btn btn-success" type="submit">Salvar</button>
        <button class="btn btn-success" onclick="codigoDeOutrora()">PDF</button>
    </div>
</div>