<h1>Fluxo de Caixa</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th><a href='' ng-click="ordenarPor('dtMov')">Data</a></th>
        <th><a href='' ng-click="ordenarPor('tipoMov')">Tipo de Movimentação</a></th>
        <th><a href='' ng-click="ordenarPor('valMov')">Valor</a></th>
        <th>Saldo</th>
    </tr>
    <tr ng-repeat='movimentacao in movimentacoes | orderBy:criterioDeOrdenacao:true track by movimentacao.id '>
        <td>{{movimentacao.id}}</td>
        <td>{{movimentacao.descricao}}</td>
        <td>{{movimentacao.dtMov | date: 'dd/MM/yy HH:mm'}}</td>
        <td>{{movimentacao.tipoMov}}</td>
        <td>{{movimentacao.valMov | currency}}</td>
        <td>{{movimentacao.saldo}}</td>
    </tr>
</table>