<h1>Movimentação</h1>
<hr><br>
<form action="post_mov/" method="post">
    <div class="row">
        <div class="col-md-12">
            <label>Descrição</label><br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Quantidade</label><br>
            <br>
        </div>
        <div class="col-md-3">
            <label>Valor</label><br>
            <br>
        </div>
        <div class="col-md-3">
            <label>Data</label><br>
            <br>
        </div>
        <div class="col-md-3">
            <label>Tipo</label><br>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="reset">Limpar</button>
            <button class="btn btn-success" type="submit">Salvar</button>
        </div>
    </div>
</form>