<h1>PIA</h1>
<hr>
<div class="row">
    <div class="col-md-9">
        <table class="table">
            <tr>
                <th>Nome</th>
                <td>{{acolhidos.nome}}</td>
            </tr>
            <tr>
                <th>Local de nascimento</th>
                <td>{{acolhidos.cidadenatal}}</td>
            </tr>
            <tr>
                <th>Nome da mãe</th>
                <td>{{acolhidos.nomemae}}</td>
            </tr>
            <tr>
                <th>Nome do pai</th> 
                <td>{{acolhidos.nomepai}}</td>
            </tr>
            <tr>
                <th>Nome do responsável</th>
                <td>{{acolhidos.nomeresp}}</td>
            </tr>
        </table>
    </div>
    <div>
        <img class="img-thumbnail text-right" src="{{ acolhidos.imagem.url }}" style="width: 20%; height: 20%;">
    </div>
</div>
<form>
    <div class="row">
        <div class="col-md-12">
            <br><label>Relato do mês</label><br>
            <textarea rows=4 class="form-control" id="txt_pia"></textarea><br><br>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-primary" onclick="clean()">Limpar</button>
        <button class="btn btn-success" type="submit">Salvar</button>
    </div>
</div>