<div class="container">
    <form class="form-signin" method='post'>
        <h2 class="form-signin-heading">Entrar</h2>
        <label for="inputUsuario" class="sr-only">Usuário</label>
        <input type="email" id="inputUsuario" class="form-control" ng-model='usuario.login'placeholder="Usuário" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" ng-model='usuario.senha'placeholder="Senha" required>
        <div class="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
</div>